.section {
    margin-bottom: 32px;
}

.main_section_container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

.main_info_container{
    flex-basis: 100%;
    margin-right: 16px;
}

.main_info_img_container {
    flex-basis: 100%;
}