.section {
    margin-bottom: 32px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.greed_features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}