.editorFooterMainBlock{
    z-index: 1;
    background-color:#f1f3f4 ;
    border-top: 1px solid #7a7a7a;
    height: 60;
    
    .editorFooterBlock{
        display: flex;
        margin: 8px 0 0 8px;

        .buttonBlock{
            margin-right: 16px;

            .changeButton{
                width: 100%;
                border-radius: 5px;
                border: 1px solid #00bfff;
            }
        }
    }
}
