.menuMainBlock{
    z-index:1 ;
    flex-basis:10%;
    background-color: #f1f3f4;
    border-left:1px solid #7a7a7a;
    
    .menuBlock{
        margin: 8px;

       .menuCloseButton{
        width: 100%;
        border-radius:5px ;
        border: 1px solid #00bfff;
       }
    }
}