.split {
    position: relative;
    z-index: 1;
    background-color: black;
    width: 11px;

    &:hover {
        cursor: grab;
    }
}
.dragSplit{
    position: 'absolute';
    z-index: 2;
    width: 100%;
    height: 100vh;
}