.mainControllerBlock{
        //  minWidth: width;
        //  min-width: ;
         z-index: 1;
         background-color:'#f1f3f4' ;
         border-right: 1px solid #7a7a7a; 
    .controllerBlock{
            margin: 8px;

            .listItem{
                padding: 0;
                margin-bottom: 8px;

                .listItemButton{
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid #00bfff;
                }
            }
         }
        
    }
       