.header {
    z-index: 1;
    position: relative;
    background-color: #f1f3f4;
    border-bottom: 1px solid #7a7a7a;
}

.container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

.logo_conainer {
    flex-basis: 100%;
}

.nav_container {
    display: flex;
}

.nav_link {
    margin-left: 16px;
    white-space: nowrap;
}